<div class="container bg-light mt-5">
  <div class="hide-print d-flex justify-content-end pt-2 mb-2">
    <div class="btn-group" role="group">
      <button class="btn btn-dark btn-sm">
        <i class="bi bi-arrow-clockwise"></i>
      </button>
      <button class="btn btn-dark btn-sm" (click)="print()">
        <i class="bi bi-printer"></i>
      </button>
      <button class="btn btn-sm btn-dark" (click)="openSettings()">
        <i class="bi bi-gear-fill"></i>
      </button>
    </div>
  </div>

  <div class="row mb-3">
    <div class="row">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">
          01. Eles importam
          <i class="bi bi-check-circle-fill text-success hide-print"></i>
          <i class="bi bi-exclamation-circle-fill text-danger hide-print"></i>
          <i class="ml-1 text-dark hide-print">100%</i>
        </label>
        <input type="email" autocomplete="off" class="form-control hide-print" id="exampleInputEmail1" aria-describedby="emailHelp">
        <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="row">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">01. Eles importam</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="row">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">01. Eles importam</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="row">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">01. Eles importam</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
      </div>
    </div>
  </div>

  <div class="row hide-print">
    <div class="col col text-center">
      <a href="#" class="previous">&laquo; Previous</a>
      <a href="#" class="next mf-3">&nbsp; Next &raquo;</a>
    </div>
  </div>
</div>
